<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>
<section class="contenedorApp">
    <%-include('./partials/header.ejs')%>

    <main class="contenedorMainProducto">

    <section class="bloque__producto">
            <article class="cont__img__producto--pp">
                <img class="producto--img" src="/img/products/<%= birra.imagen %>" alt="birraA">
            </article>
                
            <article class="cont__titl__btn__agregar--pp">
                <article class="producto__titl--pp">
                    <p class="nombre--pp"><%= birra.nombre + ' ' + birra.graduacion + ' ' + birra.mililitros +'ml' + ' ibu ' + birra.ibu%>
                    </p>
                    <p class="precio--pp"><%= '$' + birra.precio %></p>
                </article>

                <section class="cont__btn__agregar--pp">
                    <section class="cont__cantidad--pp">
                        <button class="btn--cant">+</button>
                        <button class="btn--cant">x1</button>
                        <button class="btn--cant">-</button>
                    </section>
                        <button class="btn--agregar">Agregar</button>
                    </section>
                <p class="descripcion--pp">
                    <%= birra.descripcion%>
                </p>
                   
                </section>   
            </article> 
    </section>

    </main>
    
    <%-include('./partials/footer.ejs')%>

</section>

</body>
</html>