<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
    <section  class="contenedorApp">

    <%-include('./partials/header.ejs')%>

    <main class="contenedorMain">
        <section class="cont__admin--titl">
            <h1 class="titlG">SUMAR PRODUCTO</h1>
        </section>

        <% if(typeof registerErrors != "undefined") {%> 
            <ul class="listadoErrores">
                <% registerErrors.forEach(error => { %> 
                    <li>· <%= error.msg %> </li>
                <% }); %> 
            </ul>
        <% } %> 

        <form action="/products/crear" method="POST" class="reg__form">
            <input class="reg--input" type= "text" name="nombreProducto" placeholder="NOMBRE DEL PRODUCTO" value="<%= typeof oldValues != "undefined" ? oldValues.nombreProducto : "" %>" autofocus required>
            <input class="reg--input" type="text" name="descripProducto" placeholder="DESCRIPCIÓN" value="<%= typeof oldValues != "undefined" ? oldValues.descripProducto : "" %>" autofocus required>
            <input class="reg--input" type="number" name="graduacion" placeholder="GRADUACIÓN" value="<%= typeof oldValues != "undefined" ? oldValues.graduacion : "" %>" autofocus required>
            <input class="reg--input" type="number" name="ibu" placeholder="IBU"  value="<%= typeof oldValues != "undefined" ? oldValues.ibu : "" %>" autofocus required>
            <input class="reg--input" type="number" name="mililitros" value="<%= typeof oldValues != "undefined" ? oldValues.mililitros : "" %>" placeholder="MILILITROS" autofocus required>
            <input class="reg--input" type="file" name="imagenProducto" placeholder="IMG" value="IMG" autofocus required>
            <input class="reg--input" type="number" name="precio" placeholder="PRECIO" id="precio" value="<%= typeof oldValues != "undefined" ? oldValues.precio : "" %>"autofocus required>
            
            <input class="reg--submit" type="submit" value="AGREGAR" autofocus>
            
           
        </form>

    </main>
    
    <%-include('./partials/footer.ejs')%>
    
</section>
</body>
</html>