<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>
<section class="contenedorApp">
    <%-include('./partials/header.ejs')%>

    <main class="contenedorMainProducto">

    <section class="bloque__producto">
            <article class="cont__img__producto--pp">
                <img class="producto--img" src="/img/products/<%= birra.imagen %>" alt="birraA">
            </article>
                
            <article class="cont__titl__btn__agregar--pp">
                <article class="producto__titl--pp">
                    <section class="color_estilo-<%= birra.tipo %>"></section>
                    <p class="nombre--ppp"><%= birra.nombre %>
                    </p>
                    
                    <article class="detalle_birra">
                    <p class="nombre--pp"><%= birra.estilos %></p>
                    <p class="nombre--pp"><%= birra.ibu + " ibu"%>
                    </p>
                    </article>
                    <article class="detalle_birra">
                    <p class="nombre--pp"><%= "Alc "+ birra.alcohol + '%'%>
                    </p>
                    <p class="nombre--pp"><%= birra.tamano +' ml' %>
                    </p>
                    </article>
                    <p class="precio--pp"><%= '$' + birra.precio %>
                    </p>
                    
                </article>
                
                <% if (!admin){ %> 
                <section class="cont__btn__agregar--pp">
                    <section class="cont__cantidad--pp">
                        <button class="btn--cant">+</button>
                        <button class="btn--cant">x1</button>
                        <button class="btn--cant">-</button>
                    </section>

                    <button class="btn--agregar">Agregar</button>
                     
                </section>
                     <%} else { %> 
                     <section>
                         <a class="btn--agregar" href="/products/form/<%= birra.id %>">Modificar</a>
                   </section>
                    <% } %> 


                <p class="descripcion--pp">
                    <%= birra.descripcion%>
                </p>
                   
                </section>   
            </article> 
    </section>

    </main>
    
    <%-include('./partials/footer.ejs')%>

</section>

</body>
</html>