<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>

    <body>
        <section class="contenedorApp">

            <%-include('./partials/header.ejs')%>

                <main class="contenedorMain">
                    <section class="cont__admin--titl">
                        <h1 class="titlG">CREAR PRODUCTO</h1>
                    </section>

                    <% if(typeof registerErrors != "undefined") {%>
                        <ul class="listadoErrores">
                            <% registerErrors.forEach(error => { %>
                                <li>·
                                    <%= error.msg %>
                                </li>
                                <% }); %>
                        </ul>
                        <% } %>

                            <form action="/products/sumarProducto" method="POST" class="reg__form" enctype="multipart/form-data">
                                <label for="nombre">Nombre</label>
                                <input class="reg--input" type="text" name="nombre" placeholder="NOMBRE DEL PRODUCTO" value="<%= typeof oldValues != " undefined " ? oldValues.nombre : " " %>" autofocus required>

                                <label for="tipo">Estilo</label>
                                <select class="reg--input" name="estilo_id">
                <!-- hacer select dinamico -->
                <option class="select--option" value="" disabled selected>TIPO DE CERVEZA</option>
              <%estilos.forEach(element => { %>
                <option class="select--option" value="<%= element.id %>"><%= element.nombre %></option>
              <% }); %>
            </select>

                                <label for="ibu">IBU</label>
                                <input class="reg--input" type="number" name="ibu" placeholder="IBU" value="<%= typeof oldValues != " undefined " ? oldValues.ibu : " " %>" autofocus required>

                                <label for="graduación">Graduacion</label>
                                <input class="reg--input" type="number" name="alcohol" placeholder="GRADUACIÓN" value="<%= typeof oldValues != " undefined " ? oldValues.alcohol : " " %>" autofocus required>

                                <label for="descripción">Descripcion</label>
                                <input class="reg--input" type="textarea" name="descripcion" placeholder="DESCRIPCIÓN" value="<%= typeof oldValues != " undefined " ? oldValues.descripcion : " " %>" autofocus required>

                                <label for="mililitros">Militros</label>
                                <input class="reg--input" type="number" name="tamano" value="<%= typeof oldValues != " undefined " ? oldValues.tamano : " " %>" placeholder="MILILITROS" autofocus required>

                                <label for="categoria">Categoria</label>
                                <select class="reg--input" name="categoria" id="">
                <option class="select--option" value="" disabled selected>"<%= typeof oldValues != "undefined" ? oldValues.categoria : "CATEGORÍA" %>"</option>
                <option value="mas-vendidas">más-vendidas</option>
                <option value="estandar">estándar</option>
            </select>

                                <label for="precio">Precio</label>
                                <input class="reg--input" type="number" name="precio" placeholder="PRECIO" id="precio" value="<%= typeof oldValues != " undefined " ? oldValues.precio : " " %>"autofocus required>

                                <label for="stock">Stock</label>
                                <input class="reg--input" type="number" name="stock" placeholder="STOCK" id="stock" value="<%= typeof oldValues != " undefined " ? oldValues.stock : " " %>"autofocus required>

                                <label for="laimagen">Imagen</label>
                                <input class="reg--input" type="file" name="imagen" id="laimagen" required>
                                <!-- Submit -->
                                <input class="reg--submit" type="submit" value="GUARDAR" autofocus>

                            </form>


                </main>

                <%-include('./partials/footer.ejs')%>

        </section>
    </body>

</html>