<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
    <script src="/js/cantidad.js" defer></script>
    <section  class="contenedorApp">

    <%-include('./partials/header.ejs')%>

    <main class="contenedorMain">
        <article class="cont__portada">
            <section class="cont__img__titl">
                <img class="portada--titl" src="/img/dBirra-titl.svg" alt="digital birra">

            </section>
            <form class="formFiltroHome" action="/" method="POST">
            <section class="cont__select__venTodas"> 
            <select onchange="this.form.submit()" class="select--tcerveza" name="estilo_id">
          
                <option class="select--option" value="" disabled selected>TIPO DE CERVEZA</option>
              <%estilos.forEach(element => { %>
                <option class="select--option" value="<%= element.id %>"><%= element.nombre %></option>
              <% }); %>
            </select>
           
            <input type="submit" name="eleccion" value="mas-vendidas" class="btn--vent"></input>
            <input type="submit" name="eleccion" value="todas" class="btn--vent" ></input>
            </form>   
            </section>
        </article>
        
        <h2 class="section--titl"><%= eleccion %></h2>

    <section class="bloque__productos">
        
        <% if (typeof cervezas != 'undefined'){ %> 
            <% cervezas.forEach(element =>{ %> 
            <article class="cont__producto">
                <a href="/products/<%= element.id %>">
                <img class="producto--img" src="/img/products/<%= element.imagen %>" alt="birraA">
                </a>
                <article class="producto__info">
                    <a href="/products/<%= element.id %>"><%= element.nombre + ' ' + element.alcohol +"%" %></a>
                    <section class="info--precioMl">
                    <p><%= element.tamano %>ML</p>
                    <p>$<%= element.precio %></p>
                    </section>
                </article>
                
                <% if (typeof admin == 'undefined'){ %> 
                    <form class="cont__btn__agregar--pp" action="/products/agregarcarrito" method="POST">
                        <section class="cont__cantidad--pp">
                            <a class="agregar btn--cant">+</a>
                            <input class="btn--cant" type="number" value=1 name="cantidad" id="<%= element.id %>">
                            <a class="btn--cant">-</a>
                        </section>
                        <input style="display: none;" type="number" value=<%=element.id%> name="beer_id">
                       
                        <input type="submit" value="Agregar" class="btn--agregar">
                         
                    </form>
                         <%} else { %> 
                         <section>
                             <a class="btn--agregar" href="/products/modificarForm/<%=element.id%> ">Modificar</a>
                       </section>
                        <% } %> 
                
            </article>
            
         <%})} %> 

    </section>

    </main>

    <%-include('./partials/footer.ejs')%>
</section>
</body>
</html>