<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
    <section  class="contenedorApp">

    <%-include('./partials/header.ejs')%>

    <main class="contenedorMain">
        <article class="cont__portada">
            <section class="cont__img__titl">
                <img class="portada--titl" src="./img/dBirra-titl.svg" alt="digital birra">
                <!-- <img class="portada--img" src="./img/fondoDB.jpg" alt="portada"> -->
            </section>
            <form class="formFiltroHome" action="/" method="POST">
            <section class="cont__select__venTodas"> 
            <select onchange="this.form.submit()" class="select--tcerveza" name="tipoCerveza">
                <option class="select--option" value="" disabled selected>TIPO DE CERVEZA</option>
                <option class="select--option" value="ipa">IPA</option>
                <option class="select--option" value="rubia">Rubia</option>
                <option class="select--option" value="negra">Negra</option>
            </select>
           
            <input type="submit" name="eleccion" value="mas-vendidas" class="btn--vent"></input>
            <input type="submit" name="eleccion" value="todas" class="btn--vent" ></input>
            </form>   
            </section>
        </article>
        
        <h2 class="section--titl"><%= eleccion %></h2>

    <section class="bloque__productos">
        
        <% if (typeof cervezas != 'undefined'){ %> 
            <% cervezas.forEach(element =>{ %> 
            <article class="cont__producto">
                <img class="producto--img" src="./img/<%= element.imagen %>" alt="birraA">
                <article class="producto__info">
                    <p><%= element.nombre + ' ' + element.graduacion %></p>
                    <section class="info--precioMl">
                    <p><%= element.mililitros %>ML</p>
                    <p>$<%= element.precio %></p>
                    </section>
                </article>
                
                <article class="cont__cant__agregar">
                    <section class="cont__cantidad">
                        <button class="btn--cant">+</button>
                        <button class="btn--cant">x1</button>
                        <button class="btn--cant">-</button>
                    </section>
                    <button class="btn--agregar">Agregar</button>
                </article>
                
            </article>
            
         <%})} %> 

    </section>

    </main>

    <%-include('./partials/footer.ejs')%>
</section>
</body>
</html>