<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>
<section class="contenedorApp">
    <%-include('./partials/header.ejs')%>

    <main class="contenedorPerfil">
      
        <section class="menuPerfil">
            <p class="contenedorPerfil__saludo">Hola <%= usuarioActivo.nombre.charAt(0).toUpperCase() + usuarioActivo.nombre.slice(1) +" "+ usuarioActivo.apellido.charAt(0).toUpperCase() + usuarioActivo.apellido.slice(1)%> !! </p> 
        
        
         
                <a class="btn--volver" href="/users/modifUsuario">Editar perfil</a>

                <a class="btn--volver" href="/">Volver al inicio</a>

             <img src="/img/avatars/<%= usuarioActivo.imagen%>" alt="la imagen" class="avatar">
        </section>   
    
           <p class=historialUsuario>Historial</p>
 
        <section class="bloque__compras">
        
            <% if (typeof compras != 'undefined'){ %> 
                <% compras.forEach(element =>{ %> 
                    <article class="compra__info info--precioMl">
                        <p><%= element.createdAt.toLocaleString() %></p>
                        <p>Cantidad de items:<%= element.cantidad_items %></p>
                        <p>precio: $<%= element.total %></p>
                    </article>
        
                    
              
                <% })} else { %> <p>Todavia no compraste nada</p>
                 
             
                <%} %> 
    
        </section>

    </main>
    
    <%-include('./partials/footer.ejs')%>
</section>

</body>
</html>